body{
  font-family: 'Source Code Pro', monospace;
  background-image: url('https://i.pinimg.com/originals/b2/e2/f6/b2e2f6fd22ead2980c7d530b56394fdf.png');
  background-position: top center;
  background-size: cover;
}